<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/defaultLayout}">
<body>

<div layout:fragment="content" class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.nickname}"></td>
                <td th:text="${member.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

</body>

</html>