<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="header">
        <div class="menu">
            <div class="site-logo"><a href="/">로고</a></div>
            <ul class="menu-container">
                <li class="menu-item"><a href="/members">회원목록</a></li>
                <li class="menu-item"><a href="/register">회원가입</a></li>
                <li class="menu-item"><a href="login.html">로그인</a></li>
            </ul>
        </div>
        <div class="search-bar">
            <input type="text" id="search-box" placeholder=" 입력">
            <button type="submit" id="search-button">검색</button>
        </div>
        </div>
    </header>

</html>